/*  
    dark green: #228B22
    beige: #D1BB91
    dark khaki: #BDB76B 
*/
/* overall page styling */


/* header styling */

/* title styling */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/placeholder.png");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed;*/ /* (once page is more finished see how this looks) */
}

.title h1 {
    font-size: 6em;
}

/* category styling */
#categoryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 50vh;
    border-top: 50px solid #D1BB91;
}

.splitThree {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-size: 2.5em;
}

.splitThree h2 {
    background-color: rgba(189, 183, 107, 0.5);
}

#bestSellerContainer {
    background-image: url("../uploads/sheldonCooper.jpg"); /* replace with actual best seller image */
}

#newReleaseContainer {
    background-image: url("../uploads/howard.jpg"); /* replace with actual new release image */
}

#vrTitlesContainer {
    background-image: url("../images/placeholder.png"); /* replace with actual vr titles image */
}

/* temp styling */
table {
    border: 1px black solid;
    border-collapse: collapse;
    margin: 15px;
}

tr {
    border: 3px solid black;
}

th {
    border: 3px solid black;
}

tr, th {
    padding: 10px;
}

table tbody tr th img, .review img {
    border: 5px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}