/*  
    dark green: #228B22
    beige: #D1BB91
    dark khaki: #BDB76B
    smoke: #738276
*/

@keyframes pulseInAndOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes tiltBackAndForth {
    0% { transform: rotate(0); }
    25% { transform: rotate(15deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0); }
}
/* overall page styling */
html {
    background: radial-gradient(circle, #738276 0%, #484948 100%);
}

body {
    width: 100%;
}

main, #notIndexMain {
    width: 100%;
}

/* header styling */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20vh;
    width: 100%;
}

nav {
    margin-left: auto;
}

nav menu {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav menu li {
    padding: 0 10px;
}

nav menu li a {
    text-decoration: none;
    color: white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: border-bottom 0.3s linear;
    padding: 5px 10px;
}

nav menu li a:hover {
    border-bottom: 3px solid black;
}

nav menu li a:active {
    background-color: black;
}

header img {
    width: 10%;
    height: 80%;
}
/* title styling */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/nineSolsBanner.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed; /* (once page is more finished see how this looks) */
}

.title div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* category styling */
/* ----- Index Page Specific Styling ----- */
#categoryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 50vh;
    margin: 0;
} 

#specialHeader {
    margin: 0;
}

#bestSellerButton, #newReleaseButton, #VRTitleButton {
    border: none;
    background: rgba(189, 183, 107, 0.5);
    font-size: 1.5em;
    border: 3px solid black;
    cursor: pointer;
}

#bestSellerContainer {
    background-image: url("../uploads/bestSellers.png");
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}

#bestSellerContainer div:first-child, #vrTitlesContainer div:first-child, #newReleaseContainer div:first-child {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#newReleaseContainer {
    background-image: url("../uploads/newRelease.png"); /* replace with actual new release image */
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}

#vrTitlesContainer {
    background-image: url("../uploads/vrTitles.png");
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}

#bestSellerContainer:hover, #newReleaseContainer:hover, #vrTitlesContainer:hover  {
    background-size: 120%;
}

#categoryContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}


#specialContainer h2 {
    font-size: 2.5em;
    border-bottom: 3px solid black;
    text-align: center;
}

#logoutForm {
    padding-top: 20px;
}

#mobileNav {
    display: none;
}

#tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

/* ----- about page styling ----- */
#aboutPageHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #BDB76B;
    height: auto;
    width: 75%;
    border: 5px solid black;
    animation: pulseInAndOut 2s 1 ease-in-out;
}

#aboutPageHistory h2 {
    padding-bottom: 20px;
    font-size: 3em;
    color: black
}

#aboutPageHistory p {
    color: black;
    padding-bottom: 15px;
}

#aboutForm {
    margin-top: 150px;
}

#notIndexMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 250px 0;
}
/* ------ Classes ------ */
.splitThree {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-size: 2.5em;
}

.gameInfoContainer {
    margin-top: 50px;
}

.coverImageContainer, .gameInfoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.descriptionContainer {
    width: 50%;
    margin-bottom: 50px;
}

.sectionSeperator {
    width: 100%;
    height: 60px;
    background: linear-gradient(121deg, #228b22 0%, #299e38 50%, #228b22 100%);
    margin: 0;
}
.specialGameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 400px;
    margin-top: 25px;
}

.specialGameContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.specialGameContainer h4 {
    font-size: 1.9em;
}

.specialImage {
    width: 200px;
    height: 259px;
    margin: 25px;
    animation: tiltBackAndForth 3s infinite ease-in-out;
}

.specialGameName {
    font-size: 2em;
    width: 75%;
}

.oldPrice {
   text-decoration: line-through; 
}

.oldPrice, .newPrice {
    margin: 10px;
}
/* ----- Text Styling ----- */
h1 {
    font-family: Audiowide;
    color: white;
    font-size: 6em;
}

h2, h3 {
    font-size: 3em;
}

h3 {
    margin: 15px 0;
}

h4 {
    font-size: 1.2em;
}

legend {
    font-size: 1.3em;
}

h2, h3, h4, th, legend, figcaption {
    font-family: Limelight;
    text-align: center;
    color: white;
}

p, li, td, label, input, button{
    font-family: Anta;
    text-align: center;
    color: white;
}

figcaption {
    font-size: 2em;
    margin-top: 20px;
}

ul li {
    text-align: center;
}

/* ----- footer styling ----- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    background-color: #BDB76B;
}

footer nav {
    width: 100%;
}

footer nav menu {
    display: flex;
    justify-content: center;
}

footer nav menu li a:first-child {
    margin-right: 100px;
}

footer nav menu li a:last-child {
    margin-left: 100px;
}

footer p {
    padding-top: 50px;
}

footer nav menu li a, input[type="submit"], input[type="reset"], button[type="submit"], button[type="reset"]  {
    border: 2px solid black;
    padding: 10px 30px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

footer nav menu li a:hover {
    background-color: #738276;
    border-radius: 50px;
    color: #BDB76B;
}

/* Form Styling */
form {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    border: 3px solid lightgrey;
    border-radius: 50px;
}

fieldset div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#deleteReviewForm fieldset div {
   padding: 25px 50px 25px 50px; 
}

#deleteReviewForm fieldset input[type='submit']{
    margin-bottom: 10px;
}


fieldset div textarea {
    width: 300px;
    height: 100px;
}

input {
    transition: all 0.3s ease-in-out;
    outline: none;
}

input:focus, textarea:focus {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

input[type="submit"]:hover, input[type="reset"]:hover, button[type="submit"]:hover, button[type="reset"]:hover {
    background-color: #738276;
    border-radius: 50px;
    color: white;
    transition: all 0.3s ease-in-out;    
}

fieldset input, fieldset button, form input, form button {
    color: black
}
/* ----- IDs ----- */
#editAndDeleteContainer {
    display: flex;
    flex-direction: row;
}

#editAndDeleteContainer fieldset {
    height: 350px;
    margin: 25px;
}

#deleteReviewSummary {
    display: flex;
    flex-direction: column;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ----- Classes ----- */
.coverImageContainer {
    width: 100%;
    height: 420px;
    margin-bottom: 0;
}

.gameCoverImage {
    width: 300px;
    height: auto;
    box-shadow: 6px 4px 3px black;
}

figure .gameCoverImage {
    animation: pulseInAndOut 2s 1 ease-in-out;
}

.profilePicture {
    border: 5px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;  
    background-color: white;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.buttonContainer input, .buttonContainer button {
    margin-left: 5px;
    margin-right: 5px;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    border: 5px solid black;
    border-radius: 50px;
    padding: 5px;
    margin: 25px;
    background-color: #BDB76B;
}

.review h4, .review p {
    color: black;
}

.subjectAndRatingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5px 5px 5px 0;
}

.subjectAndRatingContainer h4 {
    margin-right: 20px;
}

.reviewContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0;
}

.description {
    width: 50%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.passwordText {
    font-size: 0.6em;
}

/* ----- Table Styling ----- */
table {
    width: 100%;
    border: 1px black solid;
    border-collapse: collapse;
    margin: 15px;
}

tr {
    border: 3px solid black;
}

td {
    border: 3px solid black;
    color: #001F54;
    background-color: #D88373;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

tr, td {
    padding: 10px;
}

td {
    text-align: center;
}

#allGamesTable tbody tr td:nth-child(2), #allReviewTable tbody tr td:nth-child(4) {
    width: 10%;
}

#allReviewTable {
    width: 50%;
}

#allReviewTable tbody tr td:nth-child(1), #allReviewTable tbody tr td:nth-child(3), #allReviewTable tbody tr td:nth-child(5) , #allReviewTable tbody tr td:nth-child(6)  {
    width: 5%;
}

#allReviewTable tbody tr td:nth-child(2) {
    width: 25%;
}

/* ----- media queries ----- */
@media screen and (max-width: 768px) {
    header {
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header nav menu li {
        padding: 10px 0 10px 0;
    }

    .title {
        background-image: none;
    }

    #notIndexMain {
        padding-top: 400px;
    }
    footer {
        height: 30vh;
    }
    footer nav menu {
        flex-direction: column;
    }

    footer nav menu li {
        margin: 20px 0 20px 0;
    }

    footer nav menu li a:first-child {
        margin-right: 0;
    }
    
    footer nav menu li a:last-child {
        margin-left: 0;
    }

    h1 {
        font-size: 2em;
        padding-top: 400px;
    }

    #searchForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #searchForm input {
        margin: 5px 0;
    }
    #categoryContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 150vh;
    }

    #categoryContainer div {
        border-top: 5px solid #228b22;
        border-bottom: 5px solid #228b22;
        width: 100%;
    }

    #categoryContainer div form input {
        font-size: 0.9em;
    }

    #desktopNav {
        display: none;
    }

    #mobileNav {
        display: flex;
    }

    #editAndDeleteContainer, #mobileNav nav menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #searchForm, #mobileNav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #searchForm input {
        width: 100%;
    }

    #categoryContainer2 {
        height: 85vh;
    }
    
    #notIndexMain {
        padding-top: 500px;
    }

    .gameCoverImage {
        width: 150px;
    }

    .review {
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .specialGameContainer {
        flex-direction: column;
        margin-bottom: 250px;
    }

    #tableContainer {
        width: 100%;
        height: auto;
        overflow-x: scroll;
    }

    table {
        display: block;
    }

    #tableContainer table {
        width: 100%
    }
}

@media screen and (max-width: 1024px) {
    #bestSellerButton, #VRTitleButton, #newReleaseButton {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .title {
        background-image: none;
    }

    .title div {
        background-color: transparent;
    }
}